.button-custom {
	width: 100%;
  }
  

  
  .button {
	font-size: 16px;
	font-weight: bold;
	width: auto;
	height: 40px;
	cursor: pointer;
	border-radius: 5px;
	height: 2rem !important;
	font-size: 0.7rem !important;
	padding: 0px 16px;
  }
  
//   .blue-btn {
// 	background-color: $color-dark-blue;
// 	color: $color-pure-white;
//   }
  
//   .red-btn {
// 	background-color: $color-pure-white;
// 	color: red;
//   }
//   .white-btn {
// 	background-color: $color-pure-white;
// 	color: $color-dark-blue;
//   }
  
//   .light-btn {
// 	color: $color-dark-blue;
// 	border: 1px solid $color-dark-blue;
// 	background-color: $color-pure-white;
// 	line-height: 1.7rem;
// 	height: 1.7rem !important;
//   }
  
  button:disabled {
	background-color: rgba(0,0,0,.12);
	color: rgba(0,0,0,.26) ;
  }