.incident-form-container {
  .incidentForm {
    .title {
      font-size: 16px;
      color: #89b0f0;
      font-weight: bold;
      margin-left: 1.25rem;
    }
  }
  .label{
	  font-size: 12px;
  }
  .block-one,
  .block-two {
    display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding-bottom: 2rem;
    .picker1 {
      width: 25%;
    }
  }

  .block-two {
    .picker2 {
		width: 25%;
	}
  }

  .btn-container {
    display: flex;
    align-items: flex-end;
	justify-content: flex-end;
	margin-top:2rem;
    .btn-action {
      .delete {
        margin-right: 2rem;
      }
    }
  }

  // error- classes
  .error-container{
	  position: absolute;
	  .has-error {
		color: #fa0e0a;
		font-weight: bold;
		display: block;
		font-size: 0.8rem;
		position: relative;
		top: 13px;
	  }
  }

}
