

<div class="incident-form-container">
<form [formGroup]="incidentForm" class="incidentForm">
<h3 class="title">Datos de la incidencia</h3>
<div class="block-one">
<!--  INIT: APERTURA INCIDENCIA  -->
<mat-form-field class="form-field picker1" floatLabel="never">
    <label>Fecha / Hora de la incidencia</label>
  <input matInput [matDatepicker]="picker1" formControlName="datePickerTask">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>
<!--  END: CIERRE INCIDENCIA  -->


<!--  INIT: APERTURA SEVERIDAD  -->
<mat-form-field class="form-field"  floatLabel="never">
  <label>Severidad</label>
  <mat-select formControlName="severitySelect">
    <mat-option *ngFor="let severity of severityRange" [value]="severity.value">
      {{ severity.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!--  END: CIERRE SEVERIDAD  -->

<!--  INIT: APERTURA TIPO INCIDENCIA   depende del anterior -->
<mat-form-field class="form-field"  floatLabel="never">
  <label>Tipo de incidencia</label>
  <mat-select formControlName="severityTypeSelect">
    <mat-option *ngFor="let severity of severityType" [value]="severity.value">
      {{ severity.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<!--  END: CIERRE TIPO INCIDENCIA  -->

<!-- INIT: NOTIFICAR -->
<mat-form-field class="form-field" floatLabel="never">
  <label>Notificar</label>
  <input matInput type="text" formControlName="notification">
</mat-form-field>
<!-- END:: NOTIFICAR -->
</div>
<hr/>


<h3 class="title">Datos de la apertura</h3>
<div class="block-two">
<!--  INIT: APERTURA DATOS APERTURA  -->
<mat-form-field class="form-field picker2" floatLabel="never">
    <label>Fecha / Hora</label>
  <input matInput [matDatepicker]="picker2" formControlName="datePickerOpening">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<!--  END: CIERRE DATOS APERTURA  -->

<!--  INIT: PERSONA -->
  <mat-form-field class="form-field" floatLabel="never">
      <label>Persona</label>
    <input type="text"
           placeholder=""
           aria-label="Number"
           matInput
           formControlName="responsiblePerson"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{ option  }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field><!--  END: CIERRE PERSONA -->
  </div>

<div class="block-three">
<!--  INIT: Editor  -->
<editor
  formControlName="textArea"
  [init]="{
    icons: 'material',
    skin: 'borderless',
    plugins: 'wordcount',
    menubar: false,
    min_height: 150
  }"
></editor>
 <!--  END: editor  -->
</div>

<div class="btn-container">
  
   <app-button *ngIf="btnDeleteIncident"  [config]="btnDeleteIncident" class="btn-action delete"></app-button>
   <app-button *ngIf="btnRegisterIncident"  [config]="btnRegisterIncident" class="btn-action register"></app-button>
</div>

</form>

</div>
